<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>campaignGroup</title>

</head>

<body >
 <h1>Form</h1>
    <form action="#" th:action="@{/campaigngroup/edit}" th:object="${campaigngroup}" method="post">
    	<p>name <input type="text" th:field="*{name}" value="${campaigngroup.name}" /></p>
        <p>description: <input type="text" th:field="*{description}" value="${campaigngroup.description}"/></p>
        <p><input type="submit" value="Submit" />
    </form>

</body>

</html>