<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>create compaign</title>

</head>

<body>
	<h1>campaign form</h1>
	<form action="#" th:action="@{/campaign/add}" th:object="${campaignModel}"
		method="post">
		<p> Select CampaignGroup:
		
			<select th:object="${campaignGroupModel}">
				<option th:each="campaignGroupModel: ${campaignGroups}"
					th:value="${campaignGroupModel.id}"
					th:text="${campaignGroupModel.name}">
					</option>

			</select>
		</p>

		<p>
			name <input type="text" th:field="*{name}" />
		</p>
		<p>
			description: <input type="text" th:field="*{description}" />
		</p>
		<p>
			start Date: <input type="date" th:field="*{startDate}" />
		</p>
		<p>
			end Date: <input type="date" th:field="*{endDate}" />
		</p>

			<input type="submit" value="Submit" />
	</form>

</body>

</html>