<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>campaign list</title>
<link th:rel="stylesheet"
	th:href="@{/assets/bootstrap/css/bootstrap.min.css} " />
</head>

<body>

	<h1 class="text-center">List of Campaign</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">description</th>
				<th scope="col">start Date</th>
				<th scope="col">endDate</th>
				<th scope="col">CampaignGroup</th>
				<th scope="col">Modify</th>
			</tr>
		</thead>

		<tbody>
			<tr scope="row" th:if="${campaigns.empty}">
				<td colspan="6">No campaign is Available</td>
			</tr>
			<tr scope="row" th:each="CampaignModel : ${campaigns}">
				<td><span th:text="${CampaignModel.name}"> </span></td>
				<td><span th:text="${CampaignModel.description}"> </span></td>
				<td
					th:text="${#dates.format(CampaignModel.startDate, 'dd-MMM-yyyy')}"></td>
				<td th:text="${#dates.format(CampaignModel.endDate, 'dd-MMM-yyyy')}"></td>

				<td><span th:text="${CampaignModel.campaignGroupModel.name}">
				</span></td>

				<td><a href="#"
					th:href="@{/campaign/edit(id=${CampaignModel.id})}"><span><i
							class="fas fa-edit">edit</i></span></a></td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-outline-primary btn-sm" th:href="@{/campaign/add/}">Create
		new campaign</a>

</body>

</html>